// Fonts
@import url('https://fonts.googleapis.com/css2?family=Tajawal:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --font-family: "Tajawal", sans-serif;
}

body {
    direction: rtl;
    font-family: var(--font-family);
}

blockquote {
    padding-left: 0;
    border-left: 0;
    border-right: 3px solid #6941C6;
    padding-right: 30px;
}

.slick-slide {
    float: right;
}

.iti--allow-dropdown .iti__flag-container,
.iti--separate-dial-code .iti__flag-container {
    right: 0;
    left: auto;
}

.iti--allow-dropdown input,
.iti--allow-dropdown input[type=tel],
.iti--allow-dropdown input[type=text],
.iti--separate-dial-code input,
.iti--separate-dial-code input[type=tel],
.iti--separate-dial-code input[type=text] {
    padding-left: 6px;
    padding-right: 52px;
}

.iti__arrow {
    margin-left: 0;
    margin-right: 5px;
}

[type=email],
[type=number],
[type=tel],
[type=url] {
    direction: rtl;
}

.scale-x {
    transform: scaleX(-1);
}

.rotate-270 {
    transform: rotate(270deg);
}

.rotate-180 {
    transform: rotate(180deg);
}


.counter-container .col-lg-3:not(:last-child) {
    border-left: 1px solid var(--border-light);
    border-right: 0;
}


.avatar-group img:not(:first-child) {
    margin-right: -8px;
    margin-left: 0;
}

.avatar-group-2 img {
    margin-right: -15px;
    margin-left: 0;
}



.course-slick-slider .slick-list,
.review-slick-slider .slick-list {
    padding-left: 15%;
    padding-right: 0;
}

.course-slick-slider .slick-dots,
.review-slick-slider .slick-dots {
    padding-left: 12.5%;
    padding-right: 0;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: "<";
}


.payment-label {
    left: -30px;
    right: auto;
}

@media(min-width:992px) {
    .payment-label {
        left: -200px;
        right: auto;
    }
}