// Fonts
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
    --font-family: "Inter", sans-serif;
}

.fw-rg {
    font-weight: 400;
}

.fw-md {
    font-weight: 500;
}

.fw-sb {
    font-weight: 600;
}

.fw-bd {
    font-weight: 700;
}

:root {
    --fs-xsmall: 12px;
    --fs-small: 13px;
    --fs-regular: 14px;
    --fs-medium: 16px;
    --fs-large: 18px;
    --fs-xlarge: 20px;
    --fs-xxlarge: 22px;
}

.fs-xsmall {
    font-size: var(--fs-xsmall) !important;
}

.fs-small {
    font-size: var(--fs-small) !important;
}

.fs-regular {
    font-size: var(--fs-regular) !important;
}

.fs-medium {
    font-size: var(--fs-medium) !important;
}

.fs-large {
    font-size: var(--fs-large) !important;
}

.fs-xlarge {
    font-size: var(--fs-xlarge) !important;
}

.fs-xxlarge {
    font-size: var(--fs-xxlarge) !important;
}

:root {
    --white-color: #ffffff;
    --black-color: #010101;
    --dark-color: #17181d;
    --text-light-color: #cccdce;
    --main-text-color: #e0e3e4;
    --primary-color: #F5B400;
    --light-primary-color: rgba($color: #F5B400, $alpha: 0.21);
    --purple-color: #446ff2;
    --light-purple-color: rgba($color: #446ff2, $alpha: 0.21);
    --danger-color: #f75151;
    --light-danger-color: rgba($color: #f75151, $alpha: 0.21);
    --teal-color: #33cccc;
    --light-teal-color: rgba($color: #33cccc, $alpha: 0.21);
    --success-color: #0bc287;
    --light-success-color: rgba($color: #0bc287, $alpha: 0.21);
    --block-border: rgba(0, 0, 0, 0.05);
}

// Theme
body[data-theme="light"] {
    --page-bg: #ffffff;
    --text-color: #17181d;
    --text-color-1: #475467;
    --text-color-2: #606060;
    --block-bg: #fafafa;
    --block-bg-1: #ececee;
    --border-color: #d0dcdc;
    --form-control-bg: #fafafa;
    --form-control-border: #d0dcdc;
    --secondary-color: #17181d;
    --grid-color: #ececee;
    --gray-light-color: #eeeeee;
    --badge-bg: rgba(37, 53, 81, 0.05);
    --badge-text: #253551;
    --checkbox-border: rgba(49, 57, 71, 0.5);
    --checkbox-bg: #17181d;
    --pagination-bg: #17181d;
    --nav-bg: #17181d;
    --nav-text: #e0e1e5;
    --dropdown-menu-bg: #ffffff;
    --dropdown-menu-icon-bg: #292929;
    --dropdown-menu-icon: #636260;
    --dropdown-item-hover-bg: #ececee;
    --offcanvas-bg: #ffffff;
    --offcanvas-border: #ececee;
    --offcanvas-btn-close-bg: #eeeeee;
    --price-range-bg: #f1f1f1;
    --accordion-border: rgba(0, 0, 0, 0.07);
    --border-light: rgba(0, 0, 0, 0.07);
    --accordion-header-bg: #f5f5f5;
    --modal-bg: #ffffff;
    --modal-shadow: 0 5px 30px rgba(125, 135, 144, 0.16);
    --btn-border-color: #17181d;
    --btn-dark-bg: #17181d;
    --btn-dark-color: #ffffff;
    --tab-active: #ffffff;
    --tab-link-active: #344054;
    --icon-light: #ececee;
    --timeline-line-bg: #ececee;
    --loader-bg: #ececee;
    --loader-path: #e0e1e5;
}

body[data-theme="dark"] {
    --page-bg: #13161B;
    --text-color: #e0e3e4;
    --text-color-1: rgba(160, 160, 160, 0.7);
    --text-color-2: #94979C;
    --block-bg: #040D15;
    --block-bg-1: #22262F;
    --border-color: #373A41;
    --form-control-bg: #040D15;
    --form-control-border: #35363c;
    --secondary-color: #ffffff;
    --grid-color: #373a45;
    --gray-light-color: rgba(238, 238, 238, 0.2);
    --badge-bg: rgb(220, 220, 220, 0.2);
    --badge-text: var(--primary-color);
    --checkbox-border: rgba(220, 220, 220, 0.2);
    --checkbox-bg: #3e3f43;
    --pagination-bg: #3e3f43;
    --nav-bg: #040D15;
    --nav-text: #e0e1e5;
    --dropdown-menu-bg: #13161B;
    --dropdown-menu-icon-bg: #292929;
    --dropdown-menu-icon: #636260;
    --dropdown-item-hover-bg: #22262F;
    --offcanvas-bg: #17181d;
    --offcanvas-border: #212226;
    --offcanvas-btn-close-bg: #292929;
    --price-range-bg: #292929;
    --accordion-border: rgba(220, 220, 220, 0.07);
    --border-light: rgba(220, 220, 220, 0.07);
    --accordion-header-bg: #222429;
    --modal-bg: #17181d;
    --modal-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2);
    --btn-border-color: #ffffff;
    --btn-dark-bg: #ffffff;
    --btn-dark-color: #17181d;
    --tab-active: #17181d;
    --tab-link-active: #ffffff;
    --icon-light: #22262F;
    --timeline-line-bg: rgba(255, 255, 255, .15);
    --loader-bg: #22262F;
    --loader-path: #181D27;
}

.bg-primary-color {
    background-color: var(--primary-color);
}

.hover-bg-primary-color {
    &:hover {
        background-color: var(--primary-color);
        border-color: var(--primary-color) !important;
        color: var(--white-color) !important;
    }
}

.bg-purple-color {
    background-color: var(--purple-color);
}

.bg-teal-color {
    background-color: var(--teal-color);
}

.bg-success-color {
    background-color: var(--success-color);
}

.bg-danger-color {
    background-color: var(--danger-color);
}

.bg-black-color {
    background-color: var(--black-color);
}

.bg-gray-light-color {
    background-color: var(--gray-light-color);
}

.bg-page {
    background-color: var(--page-bg);
}

.block-bg {
    background-color: var(--block-bg);
}

.block-bg-1 {
    background-color: var(--block-bg-1);
}

.text-primary-color {
    color: var(--primary-color);
}

.hover-text-primary-color {
    &:hover {
        color: var(--primary-color) !important;
    }
}

.text-purple-color {
    color: var(--purple-color);
}

.text-teal-color {
    color: var(--teal-color) !important;
}

.text-success-color {
    color: var(--success-color) !important;
}

.text-danger-color {
    color: var(--danger-color) !important;
}

.text-color {
    color: var(--text-color) !important;
}

.text-color-1 {
    color: var(--text-color-1) !important;
}

.text-color-2 {
    color: var(--text-color-2) !important;
}

.main-text-color {
    color: var(--main-text-color);
}

.border.border-color {
    border-color: var(--border-color) !important;
    background-color: var(--block-bg);
}

.border.border-light,
.border-bottom.border-light {
    border-color: var(--border-light) !important;
}

.block.block.border {
    border-color: var(--block-border);
}

.border.form-control-border {
    border-color: var(--form-control-border) !important;
}

.symbol {
    display: flex;
    align-items: center;
    justify-content: center;
}

.symbol.symbol-circle {
    border-radius: 50%;
}

.symbol.symbol-50 {
    width: 50px;
    height: 50px;
}

.symbol.symbol-light-success {
    background-color: rgba($color: #0bc287, $alpha: 0.21);
    color: #0bc287;
}

.symbol.symbol-light-primary {
    background-color: rgba($color: #f7a600, $alpha: 0.21);
    color: #f7a600;
}

.symbol.symbol-light-teal {
    background-color: rgba($color: #33cccc, $alpha: 0.21);
    color: #33cccc;
}

.symbol.symbol-light-purple {
    background-color: rgba($color: #446ff2, $alpha: 0.21);
    color: #446ff2;
}

.symbol.symbol-light-danger {
    background-color: rgba($color: #f75151, $alpha: 0.21);
    color: #f75151;
}

.alert {
    font-size: var(--fs-xsmall);
    padding: 10px 25px;
}

.alert.alert-light-primary {
    background-color: rgba($color: #f7a600, $alpha: 0.21);
    color: #f7a600;
}

.label {
    min-width: 80px;
    text-align: center;
    display: inline-block;
}

.label.label-light-success {
    background-color: rgba($color: #0bc287, $alpha: 0.21);
    color: #0bc287;
}

.label.label-light-primary {
    background-color: rgba($color: #f7a600, $alpha: 0.21);
    color: #f7a600;
}

.label.label-light-teal {
    background-color: rgba($color: #33cccc, $alpha: 0.21);
    color: #33cccc;
}

.label.label-light-purple {
    background-color: rgba($color: #446ff2, $alpha: 0.21);
    color: #446ff2;
}

.label.label-light-gray {
    background-color: rgba($color: #868686, $alpha: 0.21);
    color: #868686;
}

.label.label-light-danger {
    background-color: rgba($color: #f75151, $alpha: 0.21);
    color: #f75151;
}

.kt-badge {
    padding: 0;
    margin: 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    font-size: 0.7rem;
}

.kt-badge.kt-badge-light--success {
    background-color: rgba($color: #0bc287, $alpha: 0.21);
    color: #0bc287;
}

.kt-badge.kt-badge-primary {
    background-color: rgba($color: #f7a600, $alpha: 1);
    color: var(--white-color);
}

.kt-badge.kt-badge-light-primary {
    background-color: rgba($color: #f7a600, $alpha: 0.21);
    color: #f7a600;
}

.kt-badge.kt-badge-light-teal {
    background-color: rgba($color: #33cccc, $alpha: 0.21);
    color: #33cccc;
}

.kt-badge.kt-badge-light-purple {
    background-color: rgba($color: #446ff2, $alpha: 0.21);
    color: #446ff2;
}

.kt-badge.kt-badge-light-gray {
    background-color: rgba($color: #868686, $alpha: 0.21);
    color: #868686;
}

.kt-badge.kt-badge-light-danger {
    background-color: rgba($color: #f75151, $alpha: 0.21);
    color: #f75151;
}

.icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    i {
        font-size: 10px;
    }
}

.icon.icon-circle {
    border-radius: 50%;
}

.icon.icon-20 {
    width: 20px;
    height: 20px;
    min-width: 20px;
    line-height: 20px;
}

.icon.icon-24 {
    width: 24px;
    height: 24px;
    min-width: 24px;
    line-height: 24px;
}

.icon.icon-32 {
    width: 32px;
    height: 32px;
    line-height: 32px;
    min-width: 32px;
}

.icon.icon-35 {
    width: 35px;
    height: 35px;
    line-height: 35px;
    min-width: 35px;
}

.icon.icon-48 {
    width: 48px;
    height: 48px;
    line-height: 48px;
    min-width: 48px;
}

.icon.icon-56 {
    width: 56px;
    height: 56px;
    line-height: 56px;
    min-width: 56px;
}

.icon.icon-60 {
    width: 60px;
    height: 60px;
    line-height: 60px;
    min-width: 60px;
}

.icon.icon-light-gray {
    background-color: rgba($color: #868686, $alpha: 0.21);
    color: #868686;
}

.icon.icon-light {
    background-color: var(--icon-light) !important
}

.icon.icon-light--success {
    background-color: rgba($color: #0bc287, $alpha: 0.21);
    color: #0bc287;
}

.icon.icon-primary-color {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.icon.icon-light-primary {
    background-color: rgba($color: #f7a600, $alpha: 0.21);
    color: #f7a600;
}

.icon.icon-light-teal {
    background-color: rgba($color: #33cccc, $alpha: 0.21);
    color: #33cccc;
}

.icon.icon-light-purple {
    background-color: rgba($color: #8000ff, $alpha: 0.21);
    color: #8000ff;
}

.icon.icon-light-gray {
    background-color: rgba($color: #868686, $alpha: 0.21);
    color: #868686;
}

.icon.icon-light-danger {
    background-color: rgba($color: #f75151, $alpha: 0.21);
    color: #f75151;
}

.icon.icon-light-blue {
    background-color: rgba($color: #008eff, $alpha: 0.21);
    color: #008eff;
}

.icon.icon-light-orange {
    background-color: rgba($color: #ff6006, $alpha: 0.21);
    color: #ff6006;
}

.custom-icon {
    position: relative;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.transition-300 {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.py-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.pt-100 {
    padding-top: 100px;
}

.pb-100 {
    padding-bottom: 100px;
}

.my-100 {
    margin-top: 100px;
    margin-bottom: 100px;
}

.mt-100 {
    margin-top: 100px;
}

.mb-100 {
    margin-bottom: 100px;
}

.py-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.pt-50 {
    padding-top: 50px;
}

.pb-50 {
    padding-bottom: 50px;
}

.my-50 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.mt-50 {
    margin-top: 50px;
}

.mb-50 {
    margin-bottom: 50px;
}

body {
    background-color: var(--page-bg);
    font-family: var(--font-family);
    font-size: var(--fs-regular);
    color: var(--text-color-1);
    letter-spacing: 0.3px;
    font-weight: 400;
    overflow-x: hidden;
}

.container .row,
.container-fluid .row {
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: var(--bd-font-family);
    font-weight: 700;
    color: var(--text-color);
}

h6,
.h6 {
    font-size: 16px;
}

label {
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: var(--text-color-1);
    @extend .transition-300;
}

img,
video {
    max-width: 100%;
}

.container-2 {
    max-width: 100% !important;
}


@media (min-width: 1600px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1440px;
    }
}

@media (min-width: 1920px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1700px;
    }
}

@media (min-width: 2560px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1920px;
    }
}

.btn {
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: var(--fs-regular);
    font-weight: 500;

    &.btn-md {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .btn-lg {
        padding-top: 16px;
        padding-bottom: 16px;
    }
}

.btn-border {
    background-color: transparent;
    border: 1px solid var(--btn-border-color);
    color: var(--btn-border-color);

    &:hover,
    &:focus {
        background-color: var(--btn-dark-bg);
        color: var(--btn-dark-color);
        border-color: transparent;
    }
}

.btn-border-primary-color {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background-color: transparent;

    &:hover,
    &:focus {
        background-color: var(--primary-color);
        color: var(--dark-color);

    }
}

.btn-light-border {
    background-color: transparent;
    border: 1px solid #d0d5dd;
    color: #98a2b3;

    &:hover,
    &:focus {
        background-color: #d0d5dd;
        color: var(--dark-color) !important;
        border-color: transparent;
    }
}

.btn-dark {
    background-color: var(--black-color);
    border-color: var(--black-color);
    color: var(--white-color);

    &:hover,
    &:focus {
        color: var(--black-color);
        background-color: var(--white-color);
        border-color: var(--white-color);
    }
}

.btn-dark-color {
    background-color: var(--btn-dark-bg);
    color: var(--btn-dark-color);
    border-color: transparent;

    &:hover,
    &:focus {
        background-color: transparent;
        border: 1px solid var(--btn-border-color);
        color: var(--btn-border-color);
    }
}

.btn-primary-color {
    background-color: var(--primary-color);
    color: var(--dark-color);
    font-size: var(--fs-regular);
    font-family: var(--md-font-family);

    &:hover,
    &:focus {
        background-color: #e1a602;
        color: var(--dark-color);
    }
}

.form-control {
    background-color: var(--form-control-bg);
    border-color: var(--form-control-border);
    color: var(--text-color-1);
    font-size: var(--fs-regular);
    border-radius: 8px;

    &:focus {
        background-color: var(--form-control-bg);
        border-color: var(--form-control-border);
        color: var(--text-color-1);
        box-shadow: none;

        &::placeholder {
            opacity: 0;
        }
    }

    &::placeholder {
        color: var(--text-color-1);
        @extend .transition-300;
    }

    &.form-control-md {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    &.form-control-lg {
        font-size: var(--fs-regular);
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.form-check-input {
    background-color: transparent;
    border-color: var(--checkbox-border);
    width: 16px;
    height: 16px;

    &:checked {
        background-color: var(--checkbox-bg);
        border-color: var(--checkbox-bg);
    }
}

.form-check-input {
    background-color: transparent;
    border-color: var(--checkbox-border);
    width: 16px;
    height: 16px;

    &:checked {
        background-color: var(--checkbox-bg);
        border-color: var(--checkbox-bg);
    }
}

.form-switch .form-check-input {
    background-image: url("data: image/svg+xml, %3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8' %3e%3ccircle r='3' fill='%23fff' /%3e%3c/svg%3e");
}

.form-switch .form-check-input {
    background-color: rgba(134, 134, 134, 0.21);
    border: 0;
    width: 56px;
    height: 30px;
    position: relative;
    line-height: 31px;

    &:focus {
        box-shadow: none;
    }
}

.form-switch .form-check-input:checked {
    background-color: #0a9458;
}

.iti {
    display: block;
}

.iti--separate-dial-code .iti__selected-flag {
    background-color: transparent;
}

.nav-tabs {
    .nav-link {
        color: var(--text-color-1);
        border: 0;
        border-radius: 4px;

        &.active,
        &:hover {
            background-color: var(--tab-active);
            color: var(--tab-link-active);
            box-shadow: 0 1px 3px rgba($color: #101828, $alpha: 0.1);
        }
    }
}

.section-title {
    font-size: 40px;
}

.section-title-1 {
    font-size: 48px;
}

.navbar {
    background-color: var(--nav-bg);
    padding: 0;
    position: sticky;
    top: 0;
    z-index: 99;

    .navbar-nav {
        .nav-link {
            color: var(--nav-text);
            font-weight: 500;
            position: relative;
            padding-top: 30px;
            padding-bottom: 30px;
            font-size: var(--fs-medium);

            &:hover,
            &.show {
                color: var(--primary-color);
            }
        }
    }

    .dropdown-menu {
        background-color: var(--dropdown-menu-bg);

        .dropdown-item {
            color: #acb0b2;
            white-space: normal;
            border-radius: 12px;
            padding: 12px;

            &:hover {
                background-color: var(--dropdown-item-hover-bg);
            }
        }
    }
}


@media(min-width:992px) {
    .dropdown-menu-lg {
        min-width: 685px;
    }
}

.navbar-toggler {
    color: var(--nav-text);
    border: 0;
    outline: 0;

    &:focus {
        box-shadow: none;
    }
}

footer {
    background-color: var(--dark-color);
    padding-top: 60px;
    padding-bottom: 40px;
    color: var(--text-color-1);

    a {
        color: var(--text-color-1);

        &:hover {
            color: var(--primary-color);
        }
    }

    hr {
        border-top-color: rgba($color: #ffffff, $alpha: 0.1);
        margin-top: 40px;
        margin-bottom: 40px;
    }
}


.breadcrumb-item.active {
    color: var(--text-color)
}

.breadcrumb-item+.breadcrumb-item::before {
    color: var(--text-color-2);
    content: ">";
}

.homepage footer {
    padding-bottom: 60px;
}

.hero {
    padding-top: 150px;
    padding-bottom: 100px;
    background-size: cover;
    border-bottom: 10px solid #22201B;

    position: relative;
    overflow: hidden;
    z-index: 1;

    h2 {
        font-size: 60px;
        font-weight: 400;
    }

    p {
        font-size: 24px;
        color: #e0e3e4;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../media/BG.webp");
        background-size: cover;
        background-attachment: fixed;
        background-repeat: repeat;
        z-index: -1;
        -webkit-animation: zoomin 10s ease-in;
        animation: zoomin 10s ease-in;
        transition: all 0.5s ease-in-out;
    }
}

.hero-2 {
    background-color: var(--block-bg);
    border-bottom: 0;
    padding-top: 250px;

    &::before {
        content: none;
    }

    span {
        font-weight: 400;
    }

    h2 {
        font-size: 40px;
        font-weight: 700;
    }

    p {
        font-size: var(--fs-large);
        line-height: 30px;
    }
}

@-webkit-keyframes zoomin {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes zoomin {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.feature-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.feature-section .image-container {
    flex: 1;
    height: 100%;
}

.feature-section.image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.feature-section .container {
    flex: 0 0 50%;
    /* or adjust to your needs */
}

.company-item {
    img {
        transform: scale(1);
        height: 50px;
        object-fit: contain;
        @extend .transition-300;
    }

    &:hover {
        img {
            transform: scale(0.8);
        }
    }
}

.blog {
    .image-container {
        position: relative;
        overflow: hidden;

        img {
            -webkit-transition: all 0.5s;
            transition: all 0.5s;
            object-fit: cover;
            aspect-ratio: 12 / 4.5;
        }
    }

    &:hover {
        .image-container img {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }
    }
}

.homepage .navbar {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: background-color 0.3s ease;
}

.homepage .navbar.scrolled {
    background-color: var(--nav-bg);
}

.offcanvas {
    background-color: var(--offcanvas-bg);
    color: var(--text-color);

    &.offcanvas-size-rg {
        width: 300px;
    }

    &.offcanvas-size-sm {
        width: 240px;
    }

    .navbar-nav {
        .nav-link {
            color: var(--text-color-2);
            position: relative;
            padding-top: 25px;
            padding-bottom: 25px;

            &:hover,
            &.show {
                color: var(--primary-color);
            }
        }

        .nav-item:not(:last-child) {
            .nav-link {
                border-bottom: 1px solid var(--offcanvas-border);
            }
        }
    }

    .dropdown-menu.show {
        position: static !important;
        transform: none !important;
        position: relative !important;
    }
}

.close-btn {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 10px;
    background-color: var(--offcanvas-btn-close-bg);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    &:hover {
        background-color: #e0dede;
    }
}

.pagination .page-link {
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-radius: 50% !important;
    background-color: transparent;
    color: var(--text-color);
    padding: 0;
    border: 0;
    font-size: var(--fs-xsmall);
    text-align: center;

    i {
        line-height: 36px;
        font-size: 10px;
    }

    &.active,
    &:hover {
        background-color: var(--pagination-bg);
        color: var(--white-color);
    }
}

blockquote {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    border-left: 3px solid #6941c6;
}

.slick-slide {
    margin: 0 10px;
}


.slick-dots {
    list-style: none;
    display: flex;
    gap: 5px;
    justify-content: center;
    margin-top: 50px;
    padding: 0;

    li {
        width: 8.5px;
        height: 8.5px;
        border-radius: 50%;
        cursor: pointer;
        background-color: #595B5E;
        @extend .transition-300;

        button {
            display: none;
        }


        &.slick-active,
        &:hover {

            background-color: var(--text-color);

        }
    }
}

/*Plugin*/
.plyr {
    min-width: 100%;
}

.plyr__control--overlaid {
    background-color: rgba($color: #0C0E12, $alpha: 0.3);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

.plyr--video .plyr__control:focus-visible,
.plyr--video .plyr__control:hover,
.plyr--video .plyr__control[aria-expanded=true] {
    background-color: rgba($color: #0C0E12, $alpha: 1);

}

.plyr--full-ui input[type=range] {
    color: var(--white-color);
}

.plyr__control--overlaid {
    padding: calc(var(--plyr-control-spacing, 10px)*2.5);
}

.plyr__video-wrapper {
    border-radius: 1rem;
    background: transparent;
}

.plyr--video .plyr__controls {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.irs--flat {
    height: 60px;
}

.irs--flat .irs-line {
    background-color: var(--price-range-bg);
}

.irs--flat .irs-bar {
    background-color: var(--black-color);
}

.irs--flat .irs-line,
.irs--flat .irs-bar {
    height: 6px;
}

.irs--flat .irs-handle {
    width: 17px;
    height: 17px;
    top: 20px;
    border-radius: 50%;
    background-color: var(--black-color);
}

.irs--flat .irs-handle>i:first-child {
    opacity: 0;
}

.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
    background-color: transparent;
    color: var(--text-color-1);
    font-size: 14px;
}

.irs--flat .irs-handle.from {
    border-right: 2px solid var(--price-range-bg);
}

.irs--flat .irs-handle.to {
    border-left: 2px solid var(--price-range-bg);
}

.irs--flat .irs-from:before,
.irs--flat .irs-to:before,
.irs--flat .irs-single:before {
    content: none;
}

.irs-single,
.irs-from,
.irs-to {
    top: 40px !important;
    /* Adjust this value as needed */
}

.irs--flat .irs-max,
.irs--flat .irs-min {
    opacity: 0;
}

.opacity-75 {
    opacity: 0.75 !important;
}

.opacity-50 {
    opacity: 0.5 !important;
}

.avatar-group {
    display: flex;

    img {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        object-fit: cover;

        &:not(:first-child) {
            margin-left: -8px;
        }
    }
}

.avatar-group-2 {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        transition: transform 0.3s ease, z-index 0.3s ease;
        margin-left: -15px;

        &:nth-child(2) {
            transform: scale(1.2);
            z-index: 2;
        }

        &:not(:nth-child(2)) {
            transform: scale(1);
            z-index: 1;
        }

        &:first-child {
            margin-left: 0; // So the first image isn't shifted
        }
    }
}


.counter-container {
    .col-lg-3 {
        &:not(:last-child) {
            border-right: 1px solid var(--border-light);
        }
    }
}

.counter-value,
.counter-suffix {
    font-size: 60px;
    color: var(--text-color);
}

.timeline-section {
    position: relative;
    width: 100%;
}

.timeline-line {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: var(--timeline-line-bg);

    .timeline-progress {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        background-color: var(--primary-color);
        transition: height 0.3s ease-out;
    }
}

.timeline-item {
    position: relative;

    .timeline-circle {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        width: 50px;
        height: 50px;
        background-color: var(--text-color);
        border: 18px solid var(--block-bg);
        border-radius: 50%;
        z-index: 2;
    }

    .timeline-number {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        width: 100px;
        height: 100px;
        color: var(--text-color);
        border: 18px solid var(--block-bg);
        background-color: var(--block-bg);
        border-radius: 50%;
        z-index: 2;
        font-size: 48px;
        font-weight: 900;
    }
}

.timeline-circle.active {
    background-color: var(--primary-color);
    transition: 0.3s ease;
}

.timeline-number.active {
    color: var(--primary-color);
    transition: 0.3s ease;
}


/* Accordion */
.accordion-item {
    background-color: transparent;
    border: 0;

    &:not(:last-child) {
        border-bottom: 1px solid var(--border-light);
    }
}

.accordion-body {
    color: var(--text-color-1);
    font-size: var(--fs-medium);
}

.accordion-button {
    background-color: transparent;
    border: 0;
    color: var(--text-color);
    box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
    background-color: transparent;
    color: var(--text-color);
    border: 0;
}

.accordion-button::after {
    background-image: none;
    content: "+";
    width: 24px;
    height: 24px;
    color: var(--text-color-1);
    border: 2px solid var(--text-color-1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accordion-button:not(.collapsed)::after {
    background-image: none;
    content: "-";
}

.course-slick-slider .slick-list,
.review-slick-slider .slick-list {
    padding-right: 15%
}

.course-slick-slider .slick-dots,
.review-slick-slider .slick-dots {
    padding-right: 12.5%;
}

.loader {
    display: inline-block;
    animation: rotate 1s linear infinite;
}

.loader-bg {
    stroke: var(--loader-bg);
}

.loader-path {
    stroke: var(--loader-path);
}

.loader-path {
    transform-origin: center;
    transform-box: fill-box;
}

/* Spin animation */
@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.block-custom {
    position: relative;
    margin-top: 130px;

    &::before {
        content: "";
        width: 95%;
        height: 100%;
        position: absolute;
        top: -5%;
        left: 0;
        right: 0;
        margin: 0 auto;
        background-color: #AE8000;
        border-radius: 1rem;
        z-index: -1;
    }

    &::after {
        content: "";
        width: 90%;
        height: 100%;
        position: absolute;
        top: -10%;
        left: 0;
        right: 0;
        margin: 0 auto;
        background-color: #674C00;
        border-radius: 1rem;
        z-index: -2;
    }
}

.card {
    background-color: var(--page-bg);
    border-color: var(--border-light);
}

.payment-slick-slider {
    .item {
        padding-top: 150px;
    }

    .card {
        max-width: 360px;
        margin: 0 auto;
    }
}

.payment-label {
    position: absolute;
    top: -130px;
    right: -30px;
}

@media(min-width:992px) {
    .payment-label {
        right: -200px;
    }
}


.toast {
    background-color: var(--white-color);
    max-width: 309px;
    border-radius: 12px;
    padding-top: 16px;
    padding-bottom: 16px;
    cursor: pointer;

    h6 {
        color: var(--black-color);
    }

    span {
        color: #414651;
    }

}

@media(max-width:1199.98px) {
    .navbar .navbar-nav .nav-link {
        font-size: var(--fs-regular);
    }
}

@media(max-width:991.98px) {

    .timeline-line,
    .timeline-item .timeline-circle,
    .timeline-item .timeline-number {
        display: none;
    }

    .counter-container .col-lg-3:not(:last-child) {
        border: 0 !important;
    }
}

@media (max-width: 767.99px) {
    .section-title-1 {
        font-size: 36px;
    }

    .section-title {
        font-size: 32px;
    }
}

@media (max-width: 575.99px) {
    .section-title-1 {
        font-size: 28px;
    }

    .section-title {
        font-size: 24px;
    }

    h2,
    .h2 {
        font-size: 24px;
    }

    h3,
    .h3 {
        font-size: 22px;
    }

    .h4,
    h4 {
        font-size: 20px;
    }

    .h5,
    h5 {
        font-size: 18px;
    }

    .h6,
    h6 {
        font-size: 16px;
    }

    .hero h2 {
        font-size: 32px;
    }

    .fs-xlarge {
        font-size: 16px !important;
    }
}